@media screen and (max-width:1440px) {
    .container {
        width: 90%;
    }
    .advantages {
        width: 90%;
    }
    .app-container {
        width: 90%;
    }
    .slicker {
        width: 90%;
    }
    .stats {
        width: 90%;
    }
    footer div {
        width: 90%;
    }
    .about-dish p {
        font-size: 1.7em;
    }
}

@media screen and (max-width:1024px) {
    .advantages {
        flex-direction: column;
    }
    .benefit {
        width: calc(100%/1 - 20em);
        align-self: center;
        margin-bottom: 2em;
    }
    .fudi-app {
        background: #F7F7F7;
        padding-top: 0em;
    }
    .app-container {
        flex-direction: column;
    }
    .app-container>img {
        width: 50%;
        margin: -40px auto 0;
    }
    .app-content {
        margin: 30px 0;
        font-size: 1.8em
    }
    .social-buttons {
        text-align: center;
    }
    .slicker {
        width: 100%;
    }
    .dishes {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        -o-column-count: 2;
        column-count: 2;
    }
    .about-dish p {
        font-size: 2em;
    }
    .stats {
        flex-wrap: wrap;
        padding: 4em 0;
    }
    .stat {
        width: calc(100%/2 - 2em);
    }
    .stat:nth-child(3) {
        width: 100%;
    }
}

@media screen and (max-width:768px) {
    .welcome h1 {
        font-size: 5vw;
    }
    .benefit {
        width: calc(100%/1 - 5em);
    }
    .welcome p br {
        display: block;
    }
    .dishes {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        -o-column-count: 1;
        column-count: 1;
    }
    .about-dish {
        font-size: 2.8em;
    }
}

@media screen and (max-width:375px) {
    .stat {
        width: calc(100%/1);
        margin: 10px 0;
    }
}
